<h1><%= @user.user_name%>'s Page</h1>
<img src="<%=@user.profile_pic %>" alt="" />

<% @user.puzzles.each do |puzzle| %>
  <li>
    <%=link_to puzzle.notes, puzzle_path(puzzle) %> <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>
    <% unless current_user==nil %>
      <%if current_user==@user || current_user.is_admin %>
        <%= link_to "Delete This Puzzle!", puzzle_path(puzzle), method: :delete %> <br>
      <% end %>
    <%end%>


  </li>
<% end %>

<%= link_to "back to the puzzles", puzzles_path %>
