<div class="container">
  <div class="row">
    <h1 class='col-md-4'><%= @user.user_name%>'s Page</h1>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <h2 class='col-md-4'><%= @user.user_name%>'s Puzzles</h2>
  </div>
</div>

<ul class="container">

  <% @user.puzzles.each_with_index do |puzzle, index| %>
  <div class="col-md-3">

    <div class="user-mini-li">
      <%= link_to puzzle_path(puzzle) do %>
      <div class="board mini_board" id="mini-board<%=index%>">
        <%# this next line is the only diffrence between index page %>
        <%= render partial: './puzzles/minigrid' %>
      </div>
      <% end %>
      <%# fetch encrypted string to feed to encrypt function %>
      <div class="hidden" id="mini_encrypt<%=index%>"><%= puzzle.pattern%></div>

      <%# decrypt, put onto each mini board %>
      <script>
        // = require jquery
        var index = <%=index%>;
        var encryptedGrid = $('#mini_encrypt' + index).text();
        var board = $('#mini-board' + index).children()
          .children()
        decryptMini(encryptedGrid, board)
      </script>

      <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>
      <% unless current_user==nil %>
      <%if current_user==@user || current_user.is_admin %>
      <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>
      <%= link_to "Edit", edit_puzzle_path(puzzle) %>
      <% end %>
      <%end%>
    </div>
  </div>
  <% end %>

</ul>
<!-- container -->


<div class="container">
  <div class="row">

<h2>Puzzles <%= @user.user_name%> has solved</h2>
  </div>
</div>



<ul class='container'>

  <% @wins.each_with_index do |win, index| %>
  <div class="col-md-3">

    <% if win.user_id == @user.id %>
    <% @puzzle=Puzzle.find(win.puzzle_id) %>

    <!-- <%= link_to puzzle_path(@puzzle) do %> -->
    <div class="user-mini-li">
      <%= link_to puzzle_path(@puzzle) do %>
      <div class="board mini_board" id="mini-board<%=index+1000%>">
        <%= render partial: './puzzles/minigrid' %>
        <!-- <%= link_to @puzzle.user.user_name, user_path(@puzzle.user) %> -->
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="hidden" id="mini_encrypt<%=index+1000%>"><%= @puzzle.pattern%></div>
    <%# decrypt, put onto each mini board %>
    <script>
      // = require jquery
      var index = <%=index%>;
      var encryptedGrid = $('#mini_encrypt' + (index + 1000)).text();
      var board = $('#mini-board' + (index + 1000)).children()
        .children()
      decryptMini(encryptedGrid, board)
    </script>
    <% end %>
    <!-- ? -->

  </div>
  <!-- end col -->
  <% end %>
  <!-- end loop -->
</ul>
<!-- end container -->
