<h1>Edit Your puzzle</h1>   <%= render partial: 'bar' %>


  <div id="pattern"><%=@puzzle.pattern %></div>


<%= render partial: 'grid' %>
<%= render partial: 'staticgrid' %>
<%= link_to "back to the puzzles", puzzles_path %>
