<h1>Edit Your puzzle</h1>
<%= render partial: 'bar' %>

<div id="pattern"><%=@puzzle.pattern %></div>
<div id="starting_clicks"> Created in<%= @puzzle.clicks_created %> clicks
</div>

<%= form_for(@puzzle) do |f| %>
<ul>
  <% @puzzle.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :notes %><br/>
  <%= f.text_area :notes %>
</p>
<p>
  <%= f.text_area :pattern %>
</p>
<p>
  <%= f.text_area :clicks_created %>
</p>
<p class="submit-button">
  <%= f.submit %>
</p>
<% end %>

<div>
  <div , class="board" id="edit-board">
    <%= render partial: 'grid' %>
  </div>
  <%= render partial: 'buttons' %>
</div>
<div class="home">
  <%= link_to "back to the puzzles", puzzles_path %>
</div>
