<h1>Puzzle index page</h1>

  <%= render partial: 'bar' %>
  <% if logged_in? %>
    <%= link_to " make a new Puzzle yo?", new_puzzle_path %>
  <% end %>

<ul id="puzzles">
  <% @puzzles.each do |puzzle| %>
    <li>
      <%=link_to puzzle.notes, puzzle_path(puzzle) %> <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>
      <% unless current_user==nil %>
        <%if current_user==puzzle.user || current_user.is_admin %>
          <%= link_to "Delete This Puzzle!", puzzle_path(puzzle), method: :delete %> <br>
          <%= link_to "Edit this Puzzle!", edit_puzzle_path(puzzle) %> <br>

        <% end %>
      <%end%>

    </li>
  <% end %>
</ul>
