<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <h1><%= message %></h1>
</div>
<% end %>

<br>
<br>
<div class="container">
  <div class="row user-puzzles-header">
    <h1 class="col-md-6">User-Created Puzzles</h1>

    <!-- <h1 class="col-md-6">
      <% if logged_in? %>
      <%= link_to "Create A New Puzzle", new_puzzle_path %>
      <% end %>
    </h1> -->
  </div>
  <div class="row">
    <div class="col-md-6 directions-users">
      Play puzzles created by users (like you!) or create your own.   </div >
  </div>
</div>

<ul class="container">
  <!-- <div class="row"> -->

    <% @puzzles.reverse.each_with_index do |puzzle, index| %>
    <% unless puzzle.user_id==1 %>



    <div class="col-md-3">

      <%# render a mini board with unique id %>
      <div class='index-mini-li'>
        <%= link_to puzzle_path(puzzle) do %>
        <div class="board mini_board" id="mini_board<%=index%>">
          <%= render partial: 'minigrid' %>
        </div>
        <% end %>
        <%# fetch encrypted string to feed to encrypt function %>
        <div class="hidden" id="mini_encrypt<%=index%>"><%= puzzle.pattern%></div>

                <div class="user-puzzle-options">

                  <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>,
                  <%= puzzle.clicks_created %> clicks
                  <% unless current_user==nil %>
                  <%if current_user.is_admin %>
                  <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>

                  <br>
                  <% end %>
                  <%end%>
                </div>

        <script>
          // = require jquery
          var index = <%=index%>;
          var encryptedGrid = $('#mini_encrypt' + index).text();
          var board = $('#mini_board' + index).children()
            .children()
          decryptMini(encryptedGrid, board)
        </script>
<!--
        <div class="links">

          <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>

          <% unless current_user==nil %>
          <%if current_user==puzzle.user || current_user.is_admin %>
          <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>
          <%= link_to "Edit", edit_puzzle_path(puzzle) %>
          <br>
          <% end %>
          <%end%>
        </div> -->

      </div>
    </div> <!-- col -->
      <% end %>
    <% end %>
  <!-- </div><!-- row -->
</ul> <!-- contailer -->
