<h1 class="page_header"> Welcome to Olay</h1>
<h2 id="sub_title">Your New Favorite User Generated Logic Puzzle Platformer</h2>




<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <h1><%= message %></h1>
</div>
<% end %>

<%= render partial: 'bar' %>
<p id="new_puzzle_button">
  <% if logged_in? %>
  <%= link_to "Create Your Own Puzzle", new_puzzle_path %>
  <% end %>
</p>

<ul id="puzzles">
  <% @puzzles.reverse.each_with_index do |puzzle, index| %>


<%# render a mini board with unique id %>
  <li>
    <div id="mini_board<%=index%>" class="board mini_board">
      <%= render partial: 'minigrid' %>
    </div>
    <%# fetch encrypted string to feed to encrypt function %>
    <div id="mini_encrypt<%=index%>" class="hidden"><%= puzzle.pattern%></div>

    <%# decrypt, put onto each mini board %>
    <script>
    // = require jquery
      var index= <%=index%>;
      var encryptedGrid = $('#mini_encrypt'+index).text();
      var board= $('#mini_board'+index)
      decrypt( encryptedGrid, board)
    </script>



    <div class="links">
    <%=link_to "Play Me!", puzzle_path(puzzle) %>
    <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>



    <% unless current_user==nil %>
    <%if current_user==puzzle.user || current_user.is_admin %>
    <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>
    <%= link_to "Edit", edit_puzzle_path(puzzle) %>
    <br>
    <% end %>
    <%end%>
</div>

  </li>
  <% end %>
</ul>
