
<%= render partial: 'bar' %>

<div id='logo_container'>
  <div class='show-front' type='logo'>
    <figure class="front">1</figure>
    <figure class="back">2</figure>
    <figure class="right">3</figure>
    <figure class="left">4</figure>
    <figure class="top">5</figure>
    <figure class="bottom">6</figure>
  </div>
</div>
<h1 class="page_header"> Cubonic</h1>
<h2 id="sub_title">Your New Favorite User Generated Logic Puzzle Platformer</h2>




<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <h1><%= message %></h1>
</div>
<% end %>




<ul id="puzzles">
  <% @puzzles.reverse.each_with_index do |puzzle, index| %>


<%# render a mini board with unique id %>
  <li>
    <%= link_to puzzle_path(puzzle) do %>
    <div id="mini_board<%=index%>" class="board mini_board">
      <%= render partial: 'minigrid' %>
    </div>
    <%end %>
    <%# fetch encrypted string to feed to encrypt function %>
    <div id="mini_encrypt<%=index%>" class="hidden"><%= puzzle.pattern%></div>

    <%# decrypt, put onto each mini board %>
    <script>
    // = require jquery
      var index= <%=index%>;
      var encryptedGrid = $('#mini_encrypt'+index).text();
      var board= $('#mini_board'+index).children().children()
      decrypt( encryptedGrid, board)
    </script>



    <div class="links">
  
    <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>



    <% unless current_user==nil %>
    <%if current_user==puzzle.user || current_user.is_admin %>
    <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>
    <%= link_to "Edit", edit_puzzle_path(puzzle) %>
    <br>
    <% end %>
    <%end%>
</div>

  </li>
  <% end %>
</ul>
