<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <h1><%= message %></h1>
</div>
<% end %>


<div class="container">
  <div class="row user-puzzles-header">
    <h1 class="col-md-6">Campain mode</h1>

    <!-- <h1 class="col-md-6">
      <% if logged_in? %>
      <%= link_to "Create A New Puzzle", new_puzzle_path %>
      <% end %>
    </h1> -->
  </div>
  <div class="row">
    <div class="col-md-6">
      Welcome to Cubonic. Try the puzzles here, or create your own and try other user puzzles
    </div >
  </div>
</div>


<ul class="container">

    <!-- <div class="row"> -->
    <% @puzzles.each_with_index do |puzzle, index| %>

    <%# render a mini board with unique id %>
    <div class="col-md-6">

      <div class='level-mini-li'>
        <div class="level-label">
          <%= puzzle.notes %>
        </div>
        <%= link_to puzzle_path(puzzle) do %>

        <div class="board level_board" id="level_board<%=index%>">

          <%= render partial: 'levelgrid' %>
        </div>
        <%end %>
        <%# fetch encrypted string to feed to encrypt function %>
        <div class="hidden" id="level_encrypt<%=index%>"><%= puzzle.pattern%></div>

        <%# decrypt, put onto each level board %>
        <script>
          // = require jquery
          var index = <%=index%>;
          var encryptedGrid = $('#level_encrypt' + index).text();
          var board = $('#level_board' + index).children()
            .children()
          decryptMini(encryptedGrid, board)
        </script>

        <!-- <div class="links">

          <%= link_to puzzle.user.user_name, user_path(puzzle.user) %>

          <% unless current_user==nil %>
          <%if current_user==puzzle.user || current_user.is_admin %>
          <%= link_to "Delete", puzzle_path(puzzle), method: :delete %>
          <%= link_to "Edit", edit_puzzle_path(puzzle) %>
          <br>
          <% end %>
          <%end%>
        </div> -->
      </div>
    </div>

    <% end %>
  <!-- </div> -->
</ul>
