<h1 id= 'new-headline'>A New Puzzle</h1>


<%= form_for(@puzzle) do |f| %>
<ul>
  <% @puzzle.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p id='create-puzzle'>
  <%= f.submit %><br><br>
</p>
<p>
  <%= f.text_area :pattern %>
</p>
<p>
  <%= f.text_area :clicks_created %>
</p>

<% end %>

<div>

  <div>
    <div  class="board" id="new_board">
    <%= render partial: 'grid' %>
    </div>
    <div id="reset-new"class="button reset">Reset </div>
  </div>
</div>

<script>
// start encryped grid as emtpy puzzle (to guard for user creating new empty puzzle)
$('#puzzle_pattern').text("000000000000000000000000000000000000000000000000000000000000000000000000000000000")
$('#puzzle_clicks_created').text(0)
</script>
