<h1>A Puzzle By <%=@puzzle.user.user_name%></h1>
<%= render partial: 'bar' %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><h1><%= message %></h1></div>
<% end %>

<% unless @puzzle.notes=="" %>
  <p class="notes"> Notes: "<%= @puzzle.notes %>"</p>
<%end %>

<p class="notes">
  This puzzle was created with <%= @puzzle.clicks_created %> clicks
</p>
<%# put pattern in a hidden div so javascript can access it %>
<div id="pattern"><%=@puzzle.pattern %></div>

<div id="win" class="button">
  <%= link_to "Solved! Click to record your win", puzzle_path(@puzzle), method: :win  %>

</div>

<div id="show_page_boards">

  <div>
      <div class="board" id="click_board">
      <%= render partial: 'grid' %>
      </div>

      <div class="board" id="static_board">
        <%= render partial: 'grid' %>
      </div>
        <%= render partial: 'buttons' %>
</div>

<p id="directions">
  Directions: <br><br>
  Try to create the image on the right on the board on the left. <br><br>
  Each click colors in a 3x3 box. <br><br>
  Overlapping changes colors.
</p>

<%= render partial: 'home' %>
