<div class="container creator-header-container">
  <div class="row creator-header-row">




      <h3 class="col-md-4 creator-header" >
        Created by
          <%=@puzzle.user.user_name%> in
        <%= @puzzle.clicks_created %>
        clicks.
        <%if @puzzle.best_solver %>
        Last Solved by
        <%= @puzzle.best_solver %>
        <% else %>
        Yet to be solved.
        <% end %>
      </h3>


  </div>
</div>
<% unless @puzzle.notes=="" %>
<p class="notes">
  Notes: "<%= @puzzle.notes %>"</p>
<%end %>

<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <h1><%= message %></h1>
</div>
<% end %>

<%# put pattern in a hidden div so javascript can access it %>
<div id="pattern"><%=@puzzle.pattern %></div>

<% if current_user && current_user.id != @puzzle.user_id %>
<div class="button" id="win">
  <%= link_to "Solved! Click to record your win", puzzle_path(@puzzle), method: :win  %>
</div>
<%else %>
<div id="win">
  Solved
</div>
<% end %>
<div class="container">

  <div class="row" id="show_page_boards">

    </div>
    <div class="board col-md-1">

      <%= render partial: 'buttons' %>
    </div>
    <div class="board col-md-5" id="click_board">
      <%= render partial: 'grid' %>
    </div>

    <div class="board col-md-6" id="static_board">
      <%= render partial: 'grid' %>
    </div>

</div>
<div class="container directions-container">
  <div class"row">
    <p class='col-md-5 col-md-offset-1 directions'>
      Click on this grid...
    </p>
    <p class='col-md-6 directions'>
      ...until it looks like this grid.
    </p>
  </div>
  <div class"row">
    <p class='col-md-4 directions'>
      Clicking rotates all of the cubes in a 3x3 radius. No clicking on the edges.
    </p>

  </div>
</div>



<!-- <div class="container">
<div class="row">




  <div class="key col-md-2" id="key1">Side One
  </div>
  <div class="key col-md-2" id="key2">Side Two
  </div>
  <div class="key col-md-2" id="key3">Side Three
  </div>
  <div class="key col-md-2" id="key4">Side Four
  </div>
  <div class="key col-md-2" id="key5">Side Five
  </div>
  <div class="key col-md-2" id="key6">Side Six

  </div>
</div>


</div> -->
